head {
    text-align: center;
}
h1 {
    text-align: center;
    border-width: 20px;
    color: #2a2b2a;
    font-family: 'Courier New',  Courier, monospace; 
}
h2 {
    text-align: center;
    font-family: 'Courier New',  Courier, monospace; 
    font-size: 200%;
    color: rgb(0,0,0,);
}
h3 {
    text-align: center;
    font-family: 'Courier New',  Courier, monospace; 
    color: rgb(0,0,0,);
    display: grid;
}
body {
    background-color: blanchedalmond;
}
.idpic {
    text-align: center;
	position: absolute;
	left: 100px;
	background-color: rgb(197, 178, 113);
	width: 1150px;
}
.container {
    border-collapse: collapse;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container th, .container td {
    font-size: large;
    padding: 20px; 
    border: solid 1px #e0dcdc; 
    font-family: 'Courier New',  Courier, monospace; 
    color: rgb(0, 0, 0);
}
.container th { 
    background-color: rgb(141, 146, 113);
}
.list {
    text-align: center;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
}
.list li {
    list-style-type: none;
    color: rgb(0,0,0);
    padding:10px;
    display: flex;
    justify-content: center;
}
.list2 {
    text-align: center;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
}
.list2 li {
    list-style-type: none;
    color: rgb(0,0,0);
    padding:10px;
    display: flex;
    justify-content: center;
}